html,
body,
canvas {
  overflow: hidden;
  margin: 0;
  touch-action: none;
  user-select: none;
  background: black;
  font-family: 'Fira Code', monospace;
}

.processing-counter {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.75);
}

.space-indicator {
  position: absolute;
  bottom: 0.25em;
  right: 0.25em;
  padding: 0.25em;
  font-size: 3em;
  line-height: 1;
  color: rgba(255, 255, 255);
  mix-blend-mode: difference;
  cursor: pointer;
  background: none;
  border: none;
}

.space-indicator sub {
  position: absolute;
  bottom: 0.5em;
  left: 2.5em;
  font-size: 0.4em;
}

.space-indicator.processing {
  animation: processing 1s infinite;
}

.control-indicator {
  position: absolute;
  top: 0.125em;
  left: 0.125em;
  padding: 0.125em;
  font-size: 5em;
  line-height: 1;
  color: rgba(255, 255, 255);
  mix-blend-mode: difference;
  cursor: pointer;
  background: none;
  border: none;
}
.control-indicator sup {
  position: absolute;
  top: 0.25em;
  font-size: 0.3em;
}

.button {
  font-size: 2.5em;
  line-height: 1;
  color: rgba(255, 255, 255);
  mix-blend-mode: difference;
  cursor: pointer;
  background: none;
  border: none;
  width: 2em;
  height: 2em;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.reset-view {
  position: absolute;
  font-size: 2.5em;
  top: 2.75em;
  left: 0.4em;
  line-height: 1;
}

@keyframes processing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}

aside {
  pointer-events: none;
}
aside > * {
  pointer-events: all;
}

label {
  white-space: nowrap;
}

.controls {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9em;
  align-items: baseline;
  font-size: 0.75em;
  margin: 1em 4.5rem;
  font-size: calc(min(1.5vw, 0.75em));
  mix-blend-mode: difference;
}

.controls label {
  margin: 0.2em 0.75em;
  color: rgba(255, 255, 255, 0.65);
  display: flex;
  align-items: center;
}
.view {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 0.9em;
  align-items: baseline;
  font-size: 0.75em;
  margin: 1em;
  margin-right: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(min(1.5vw, 0.75em));
  mix-blend-mode: difference;
}
.view label {
  margin: 0.2em 0.75em;
  color: rgba(255, 255, 255, 0.65);
}

.coxeters {
  position: absolute;
  top: 0;
  right: 0;
  font-size: calc(min(1.5vw, 0.75em));
  mix-blend-mode: difference;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.coxeter-matrix {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 1em;
}

.coxeter-value {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.25em 0.25em;
}

.coxeter-link {
  color: white;
  font-size: 3em;
  width: 1.5em;
  margin: 0 -0.5em;
}
.coxeter-node {
  position: relative;
  cursor: pointer;
}
.coxeter-node input {
  font-size: 1.25em;
  position: absolute;
  top: 2.5em;
  left: -0.4em;
}
.coxeter-graphic {
  color: rgba(255, 255, 255, 1);
  font-size: 3em;
}
.coxeter-node:hover .coxeter-graphic {
  color: rgba(200, 200, 200, 1);
}

.coxeter-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1.25em;
}

select {
  color: white;
  border: none;
  background-color: rgba(25, 25, 25);
  padding: 0.25em;
  font-size: 1.5em;
}
select option {
  background-color: rgba(25, 25, 25);
}

.error * {
  color: red !important;
}
.warning * {
  color: orange !important;
}

.number-control {
  position: relative;
}

.number input {
  color: white;
  border: none;
  background-color: rgba(150, 150, 150, 0.15);
  padding: 0.25em;
  max-width: 5ch;
  font-size: 1.5em;
  padding: 0.25em 1.75em;
}
.number-label {
  margin-right: 0.25em;
}
.number .plusminus {
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.65);
  background-color: rgba(255, 255, 255, 0.01);
  border-radius: 50%;
  font-size: 2.5em;
  cursor: pointer;
  padding: 0.25em;
  line-height: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(0.75);
  padding: 0.5em 0.25em;
}
.number .plusminus:hover,
.number .plusminus:focus,
.number .plusminus:active {
  color: rgba(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.05);
  transform: translateY(-50%) scale(1);
  transition: all 0.25s;
}

.number .minus {
  left: -0.1em;
}
.number .plus {
  right: -0.1em;
}
.number.invalid input {
  outline: 2px solid red;
}

.presets {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: flex-end;
  backdrop-filter: blur(1.5em);
  width: 80vw;
  height: 75vh;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.presets-modal {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
}
.presets-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2em;
  line-height: 1;
  color: rgba(33, 150, 243);
  mix-blend-mode: difference;
  background: none;
  cursor: pointer;
  border: none;
  padding: 0.5em;
}
.presets-search {
  color: white;
  border: none;
  background-color: rgba(150, 150, 150, 0.15);
  padding: 0.5em 0.25em;
  font-size: 1.5em;
  margin: 0 4em;
  outline: 1px solid rgba(150, 150, 150, 0.5);
}
.presets.shown {
  display: flex;
}
.presets.hidden {
  display: none;
}
.presets-list {
  flex: 1;
  overflow-y: auto;
  margin: 0.5em 0 2em 0.5em;
}
.presets-list h2 {
  margin-left: 0.75em;
}
.presets-list h4 {
  margin-left: 2em;
}
.preset-list {
  margin-left: 2.5em;
}
.preset {
  cursor: pointer;
  padding: 0.5em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.preset:last-child {
  border-bottom: none;
}

.preset:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.preset-button {
  position: absolute;
  bottom: 0.25em;
  left: 0.25em;
  padding: 0.25em;
  font-size: 3em;
  line-height: 1;
  color: rgba(33, 150, 243);
  mix-blend-mode: difference;
  background: none;
  cursor: pointer;
  border: none;
}
