html,
body,
canvas {
  overflow: hidden;
  margin: 0;
  touch-action: none;
  user-select: none;
  background: black;
}

.space-indicator {
  position: absolute;
  bottom: 0.25em;
  right: 0.25em;
  padding: 0.25em;
  font-size: 3em;
  line-height: 1;
  color: rgba(255, 255, 255);
  mix-blend-mode: difference;
  cursor: pointer;
  background: none;
  border: none;
}
.space-indicator.processing {
  animation: processing 1s infinite;
}
.space-indicator sub {
  position: absolute;
  right: -0.25em;
  bottom: -0.25em;
  font-size: 0.3em;
}

.control-indicator {
  position: absolute;
  top: 0.125em;
  left: 0.125em;
  padding: 0.125em;
  font-size: 5em;
  line-height: 1;
  color: rgba(255, 255, 255);
  mix-blend-mode: difference;
  cursor: pointer;
  background: none;
  border: none;
}
.control-indicator sup {
  position: absolute;
  top: 0.25em;
  font-size: 0.3em;
}

.extend {
  position: absolute;
  bottom: -1.5em;
  right: 0.125em;
  padding: 0.25em;
  font-size: 2.5em;
  line-height: 1;
  color: rgba(255, 255, 255);
  mix-blend-mode: difference;
  cursor: pointer;
  background: none;
  border: none;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

@keyframes processing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

label {
  white-space: nowrap;
  font-family: 'Fira Code', monospace;
  mix-blend-mode: difference;
}

.controls {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9em;
  align-items: baseline;
  font-size: 0.75em;
  margin: 1em;
  margin-right: 4.5rem;
  font-size: calc(min(1.5vw, 0.75em));
}

.controls label {
  margin: 0.2em 0.75em;
  color: rgba(255, 255, 255, 0.65);
}
.controls input,
.controls select {
  margin-left: 0.25em;
}

.view {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 0.9em;
  align-items: baseline;
  font-size: 0.75em;
  margin: 1em;
  margin-right: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(min(1.5vw, 0.75em));
  pointer-events: none;
}
.view * {
  pointer-events: all;
}
.view label {
  margin: 0.2em 0.75em;
  color: rgba(255, 255, 255, 0.65);
}

.coxeters {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 1em;
  font-size: calc(min(1.5vw, 0.75em));
}

.coxeters label {
  margin: 0.2em 0.125em;
  color: rgba(255, 255, 255, 0.75);
}

.number {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type='number'] {
  color: white;
  border: none;
  background-color: rgba(150, 150, 150, 0.15);
  padding: 0.25em;
  max-width: 5ch;
  font-size: 1.5em;
}
.stellation input[type='number'] {
  max-width: 3ch;
}
.divisor {
  font-size: 1.2em;
  font-weight: bold;
}
select {
  color: white;
  border: none;
  background-color: rgba(25, 25, 25);
  padding: 0.25em;
  font-size: 1.5em;
}
select option {
  background-color: rgba(25, 25, 25);
}

.error * {
  color: red !important;
}
.warning * {
  color: orange !important;
}
